#root {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#data-container {
  display: flex;
}

#select-bar {
  display: flex;
}

